<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Priyanshu Gupta - Portfolio</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <nav class="navbar background h-nav-resp">
        <ul class="nav-list v-class-resp">
            <div class="logo"><img src="../img/logo.jpg" alt="logo"></div>
            <li><a href="http://localhost:8000/#">Home</a></li>
            <li><a href="http://localhost:8000/#services">Services</a></li>
            <li><a href="http://localhost:8000/#about">About Us</a></li>
            <li><a href="http://localhost:8000/register">Contact Us</a></li>
        </ul>
        <div class="rightNav v-class-resp">
            <input type="text" name="search" id="search">
            <button class="btn btn-sm">Search</button>
        </div>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>
</body>
</html>