<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Priyanshu Gupta - Portfolio</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://kit.fontawesome.com/62671ad3f5.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar background h-nav-resp" id="navbar">
        <ul class="nav-list v-class-resp">
            <div class="logo"><img src="../img/logo.jpg" alt="logo"></div>
            <li><a href="http://localhost:8000/#">About</a></li>
            <li><a href="http://localhost:8000/#services">Skills</a></li>
            <li><a href="http://localhost:8000/#about">Projects</a></li>
            <li><a href="http://localhost:8000/register">Contact Us</a></li>
        </ul>
        <div class="rightNav v-class-resp">
            <button class="btn btn-sm">Resume</button>
        </div>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>
    <div>
        
    </div>
</body>
</html>